<table class="table table-dark ">
    <thead>
        <tr>
            <th class="text-center">Año</th>
            <th class="text-center">Semestre</th>
            <th class="text-center">Activo</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let semestre of semestres" [attr.id]='semestre.idSemestre'>
            <td class="text-center non-selectable">{{semestre.anioSemestre}}</td>
            <td class="text-center non-selectable">{{semestre.numeroSemestre}}</td>
            <td *ngIf="semestre.activo; else cambiarActivo" class="text-center non-selectable"><span
                    style="color: rgba(55, 221, 55, 0.993);"><i class="far fa-calendar-check green"></i> Semestre activo</span></td>

            <ng-template #cambiarActivo>
                <td class="text-center non-selectable">
                    <button type="button" class="btn btn-outline-warning" (click) = "activarSemestre(semestre.idSemestre)"> Asignar como semestre activo</button>
                </td>
            </ng-template>

        </tr>
    </tbody>
</table>

<button type="button" class="btn btn-outline-success btn-block" (click)="agregarSemestre()"><i
        class="far fa-calendar-plus"></i> Nuevo semestre</button>