<div>
  <form>
    <input
      class="form-control"
      type="search"
      [(ngModel)]="filterNombre"
      name="filterNombre"
      oninput="this.value = this.value.toUpperCase()"
      autocomplete="off"
      placeholder="Buscar por nombre"
      aria-label="Search"
    />
  </form>
</div>

<table class="table table-dark">
  <thead>
    <tr>
      <th class="text-center">Matrícula</th>
      <th class="text-center">Nombre estudiante</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let alumno of modulo | filtroMatriculaAlumno : filterNombre"
      (click)="enviarAlumno(alumno)"
      [attr.id]="alumno.matriculaAlumno"
    >
      <td class="text-center non-selectable">{{ alumno.matriculaAlumno }}</td>
      <td class="non-selectable">
        <div *ngIf="!alumno.editando">
          <span>{{ alumno.nombreAlumno }}</span>
        </div>
        <form
          *ngIf="alumno.editando"
          (ngSubmit)="
            alumno.editando = false;
            actualizarAlumno(alumno.matriculaAlumno, alumno.nombreAlumno);
            $event.stopPropagation()
          "
        >
          <input
            [(ngModel)]="alumno.nombreAlumno"
            name="nombreAlumno"
            aria-label="Nombre del alumno"
            class="form-control"
          />
        </form>
      </td>
      <td class="text-center">
        <button
          *ngIf="!alumno.editando && mostrarBotonEliminar"
          (click)="alumno.editando = true; $event.stopPropagation()"
          class="btn btn-primary mr-2"
        >
          <i class="fa fa-edit"></i> Editar
        </button>
        <button
          *ngIf="alumno.editando"
          (click)="
            alumno.editando = false;
            actualizarAlumno(alumno.matriculaAlumno, alumno.nombreAlumno);
            $event.stopPropagation()
          "
          class="btn btn-success mr-2"
        >
          <i class="fa fa-check"></i> Confirmar
        </button>
        <button
          class="btn btn-danger"
          *ngIf="mostrarBotonEliminar"
          (click)="eliminarAlumno(alumno); $event.stopPropagation()"
          aria-label="Eliminar alumno"
        >
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
    <tr *ngIf="mostrarBotonEliminar">
      <td class="text-center">
        <input
          type="text"
          class="form-control"
          id="matriculaAlumno"
          name="matriculaAlumno"
          [(ngModel)]="matriculaAlumno"
          required
          aria-label="Matrícula del alumno"
        />
      </td>
      <td>
        <input
          type="text"
          class="form-control"
          id="nombreAlumno"
          name="nombreAlumno"
          [(ngModel)]="nombreAlumno"
          required
          aria-label="Nombre del alumno"
        />
      </td>
      <td class="text-center">
        <button
          type="submit"
          class="btn btn-primary"
          (click)="agregarAlumno()"
          *ngIf="mostrarBotonEliminar"
        >
          Agregar Alumno
        </button>
      </td>
    </tr>
  </tbody>
</table>

<app-cargar-alumno
  [profesor]="profesor"
  *ngIf="isAdmin"
  (propagar)="actualizarLista()"
></app-cargar-alumno>
