<body class="d-flex flex-column min-vh-100">
  <div class="text-center mt-5 mb-5">
    <img src="assets/logo.png" alt="Logo" style="width: 30%" />
  </div>
  <div class="text-center" *ngIf="isLogged; else loggedOut">
    Iniciaste sesion
  </div>

  <ng-template #loggedOut>
    <div class="container mt-3">
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <div class="card">
            <div class="card-header">
              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" routerLink="/login"
                    >Ingresa a tu cuenta</a
                  >
                </li>
              </ul>
            </div>
            <div class="card-body">
              <form #f="ngForm" (ngSubmit)="loggin()" novalidate>
                <div class="form-group">
                  <label for="email">Correo institucional</label>
                  <input
                    required
                    type="text"
                    name="email"
                    class="form-control"
                    id="email"
                    placeholder="Ingresa tu correo @ufrontera"
                    [(ngModel)]="email"
                  />
                </div>
                <div class="form-group">
                  <label for="password">Contraseña</label>
                  <input
                    required
                    type="password"
                    name="password"
                    class="form-control"
                    id="password"
                    placeholder="Contraseña"
                    [(ngModel)]="password"
                    autocomplete="on"
                  />
                  <small id="passwordHelp" class="form-text text-muted"
                    >Nunca reveles tu contraseña a terceros</small
                  >
                </div>
                <div class="form-group form-check">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="exampleCheck1"
                  />
                  <label class="form-check-label" for="exampleCheck1"
                    >Recuerdame!</label
                  >
                </div>
                <button
                  type="submit"
                  class="btn btn-primary btn-block"
                  [disabled]="!f.valid"
                  [class.spinner]="loading"
                  [disabled]="loading"
                >
                  <i class="fas fa-sign-in-alt"></i> Iniciar sesion
                </button>
              </form>
              <div
                *ngIf="f.submitted && isLoginFail"
                class="text-justify alert alert-danger mt-3"
              >
                Nombre de usuario o contraseña incorrectos
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <footer class="mt-auto text-center mt-2 mb-2">
    Esta iniciativa se ha desarrollado en el marco de los proyectos de
    Investigación Formativa IF19-0010, IF21-0006 e IF22-0006
  </footer>
</body>
