<app-menu> </app-menu>
<body>
  <div
    class="d-flex justify-content-center"
    style="min-height: 90vh; align-items: center"
  >
    <img src="assets/logo.png" alt="Logo" style="width: 30%; height: 30%" />
  </div>
  <footer class="mt-auto text-center mt-2 mb-2">
    Esta iniciativa se ha desarrollado en el marco de los proyectos de
    Investigación Formativa IF19-0010, IF21-0006 e IF22-0006
  </footer>
</body>
