<table class="table table-bordered table-dark">
    <thead>
        <tr>
            <th rowspan="2" class="text-center">Aprendizaje esperado</th>
            <th rowspan="3" class="text-center">Indicadores</th>
        </tr>
    </thead>
    <tbody *ngFor="let categoria of categorias" [attr.id]='"categoria "+categoria.idCategoria'>
        <tr>
            <td class="text" [attr.rowspan]="90">
                {{categoria.nombreCategoria}}</td>
        </tr>

        <tr *ngFor="let indicador of indicadores" [attr.class]='"indicador "+indicador.idTipoIndicador'>

            <td class="text" *ngIf="indicador.categoria.idCategoria == categoria.idCategoria">
                {{indicador.nombreIndicador}}</td>
            
        </tr>
    </tbody>
</table>
