<app-menu> </app-menu>

<div class="container-fluid mt-4">

    <div class="row">
        <div class="col-4 ml-5 mr-5 mb-3">
            <app-listar-semestre [semestres] = "semestres"
            (actualizarLista) = "cargarSemestres()"
            (agregandoSemestre)="agregarSemestre()"
            ></app-listar-semestre>
        </div>
        <div class="col-xl-6 ml-5" *ngIf="agregandoSemestre">
            <app-nuevo-semestre (semestreCreado)="cargarSemestres()"></app-nuevo-semestre>
        </div>
    </div>

</div>