<app-menu></app-menu>
<div class="text-center">

    
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <div class="card">
                        <div class="card-header">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" routerLink="/ingresar">Ingresa a tu cuenta</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <form #f="ngForm" (ngSubmit)="loggin()" novalidate>
                                <div class="form-group">
                                    <label for="matricula">Matricula</label>
                                    <input required type="text" name="matricula" class=" form-control" id="matricula"
                                        placeholder="Ingresa tu numero de matricula" [(ngModel)]="matricula">
                               
                                </div>
                                <button type="submit" class="btn btn-primary btn-block" [disabled]="!f.valid" [class.spinner]="loading" [disabled]="loading"><i
                                        class="fas fa-sign-in-alt"></i> Iniciar sesion</button>
                            </form>
                            <div *ngIf="f.submitted && isLoginFail" class=" text-justify alert alert-danger mt-3">Matricula no encontrada</div>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
   
</div>

