<div *ngIf="modulo">
    <div class="card dark" style="width: 30rem;">
        <div class="card-header text-center">
            <b>Módulo: x</b>
        </div>
        <div class="card-header text-center">
            <div class="progress">
                <div id="barraProgreso" class="progress-bar progress-bar-striped active" role="progressbar"
                    aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{calcularPorcentajeModulo()}}%;">
                    {{calcularPorcentajeModulo()}} %
                </div>
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <ng-container *ngFor="let evaluacion of evaluaciones">
                <li class="list-group-item"><b>Estudiantes evaluados en {{evaluacion.descripcion}} :</b>
                    {{calcularPorcentaje(evaluacion)}} % </li>

            </ng-container>
        </ul>
    </div>
</div>