<app-menu> </app-menu>

<div ng-controller="VistaAlumnoComponent as vista" class="container-fluid mt-4">
  
    <div class="row justify-content-md-center">
        
       
        <div class="col-lg-8 ">
            <div class="row d-flex justify-content-center">
                <div class="dropdown">
                    <div class="btn-group dropright">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Seleccionar evaluación
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" (click)="cambiarEvaluacion(0,0)">Resumen de evaluaciones</a>
                            <div class="dropdown-divider"></div>
                            <div *ngFor="let evaluacion of evaluaciones">
                                <a class="dropdown-item"
                                    (click)="cambiarEvaluacion(evaluacion.numeroEvaluacion, evaluacion)">
                                    {{evaluacion.descripcion}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mx-auto mt-4" *ngIf="tipoEvaluacion == 0">
                <br>
               
                <div class="mt-4 d-flex justify-content-center" *ngIf="alumnoSeleccionado">
                    <app-detalle-alumno [alumno]="alumnoSeleccionado" [evaluaciones] = "evaluaciones"></app-detalle-alumno>
                </div>
                <br>
                <app-grafico-radar [alumno]="alumnoSeleccionado" [modulo]="modulo"></app-grafico-radar>

            </div>

            <div class="mx-auto mt-4" *ngIf="!(tipoEvaluacion == 0 || !alumnoSeleccionado)">
                <app-mostrar-rubrica [alumno]="alumnoSeleccionado" [evaluacion]="evaluacionSeleccionada"
                    (propagar)=actualizarLista()>
                </app-mostrar-rubrica>
            </div>


        </div>
    </div>