<app-menu> </app-menu>

<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-1 mt-4 mx-auto" id="column-left">
      <div class="card" style="width: 20rem">
        <div class="card-header text-center">
          <form
            (ngSubmit)="submit()"
            id="formularioNuevaEvaluacion"
            novalidate
            [formGroup]="formularioNuevaEvaluacion"
          >
            <div class="form-group">
              <label>Descripción</label>
              <input
                type="text"
                class="form-control"
                id="descripcion"
                formControlName="descripcion"
                name="descripcion"
                placeholder="Calcular promedio, act arduino, etc. "
              />
              <span
                class="badge badge-warning"
                *ngIf="
                  formularioNuevaEvaluacion
                    .get('descripcion')
                    .hasError('required') &&
                  formularioNuevaEvaluacion.get('descripcion').touched
                "
              >
                Debes ingresar una breve descripción
              </span>
            </div>
            <div class="form-group">
              <label>Fecha de evaluación</label>
              <input
                type="date"
                class="form-control"
                id="fecha"
                formControlName="fecha"
                name="fecha"
                placeholder="fecha"
                max="3000-12-31"
                min="2021-01-01"
              />
              <span
                class="badge badge-warning"
                *ngIf="
                  formularioNuevaEvaluacion.get('fecha').hasError('required') &&
                  formularioNuevaEvaluacion.get('fecha').touched
                "
              >
                La fecha es obligatoria
              </span>
            </div>

            <div class="form-group">
              <label>Plantilla de rubrica de evaluación</label>
              <input
                type="number"
                class="form-control"
                id="numeroPlantilla"
                formControlName="numeroPlantilla"
                name="numeroPlantilla"
                placeholder="Número de plantilla"
                min="1"
                max="22"
              />
              <span
                class="badge badge-warning"
                *ngIf="
                  formularioNuevaEvaluacion
                    .get('numeroPlantilla')
                    .hasError('required') &&
                  formularioNuevaEvaluacion.get('numeroPlantilla').touched
                "
              >
                Debe seleccionar una plantilla
              </span>
            </div>
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="formularioNuevaEvaluacion.invalid"
            >
              <i class="fas fa-user-plus"></i> Crear evaluación
            </button>
          </form>
          <div class="card-footer mt-2">
            <button
              class="btn md-4 btn-outline-info btn-block mx-auto"
              routerLink="/evaluaciones"
              [class.spinner]="loading"
              [disabled]="loading"
            >
              <i class="fas fa-chevron-circle-left"></i> Regresar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8 mr-5">
      <div class="mx-auto mt-4">
        <app-listar-categorias [evaluacion]="evaluacionAux">
        </app-listar-categorias>
      </div>
    </div>
  </div>
</div>
