<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/index">CM-TOOL</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <!-- Boton Administración -->
      <li class="nav-item dropdown" *ngIf="isLogged && isAdmin">
        <a
          class="nav-link dropdown-toggle non-selectable"
          href="#"
          id="navbarDropdown1"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fas fa-users-cog"></i> Administración
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
          <a
            class="dropdown-item non-selectable"
            routerLink="/administracionDocente"
            ><i class="fas fa-user-tie"></i> Administrar docentes/módulos</a
          >
          <a
            class="dropdown-item non-selectable"
            routerLink="/administracionSemestre"
            ><i class="far fa-calendar-alt"></i> Configurar semestre</a
          >
        </div>
      </li>
      <!-- Boton EMRA2 -->
      <li class="nav-item dropdown" *ngIf="isLogged && isAdmin">
        <a
          class="nav-link dropdown-toggle non-selectable"
          href="#"
          id="navbarDropdown1"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fas fa-users"></i> EMRA2
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
          <a class="dropdown-item non-selectable" routerLink="/emra2"
            ><i class="fas fa-clipboard-list"></i> General</a
          >
          <a class="dropdown-item non-selectable" routerLink="/resumenras"
            ><i class="fas fa-clipboard-list"></i> Resumen RA</a
          >
          <a
            class="dropdown-item non-selectable"
            routerLink="/resumenindicadores"
            ><i class="fas fa-clipboard-list"></i> Resumen Indicadores</a
          >
          <a class="dropdown-item non-selectable" routerLink="/graficoindicador"
            ><i class="fas fa-clipboard-list"></i> Gráfico</a
          >
        </div>
      </li>

      <!--dsa-->

      <li class="nav-item" *ngIf="isLogged">
        <a class="nav-link non-selectable" routerLink="/alumnos">
          <i class="fas fa-users"></i> Mi módulo</a
        >
      </li>
      <li class="nav-item" *ngIf="isLogged">
        <a class="nav-link non-selectable" routerLink="/evaluaciones">
          <i class="fas fa-file-alt"></i> Evaluaciones</a
        >
      </li>
      <li class="nav-item" *ngIf="isLogged">
        <a
          class="nav-link non-selectable"
          (click)="onLogOut()"
          routerLink="/login"
        >
          <i class="fas fa-sign-out-alt"></i> Cerrar sesión</a
        >
      </li>
      <li class="nav-item" *ngIf="!isLogged">
        <a class="nav-link non-selectable" routerLink="/login">
          <i class="fas fa-sign-in-alt"></i> Iniciar sesión</a
        >
      </li>
    </ul>
  </div>
</nav>
