<div *ngIf="alumno">
    <div class="card dark" style="width: 30rem;">
        <div class="card-header text-center">
            <b>{{alumno.nombreAlumno}}</b>
        </div>
        <div class="card-header text-center">
            <div class="progress">
                <div id = "barraProgreso" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{porcentaje}}%;">
                  {{porcentaje}} %
                </div>
              </div>
        </div>
        <ul class="list-group list-group-flush">
            <ng-container *ngFor="let evaluacion of evaluaciones">
                <div *ngIf="alumnoEvaluado(alumno, evaluacion); else noEvaluado">
                    <li class="list-group-item bg-success text-dark"><b>{{evaluacion.descripcion}} :</b>
                        Evaluado</li>
                </div>
                <ng-template #noEvaluado>
                    <li class="list-group-item bg-danger text-dark"><b>{{evaluacion.descripcion}} :</b>
                        No evaluado</li>
                </ng-template>
            </ng-container>
        </ul>
    </div>
</div>