<table class="table table-dark">
  <thead>
    <tr>
      <th class="text-center">Nombre docente</th>
      <th class="text-center">Módulo activo</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let profesor of profesores"
      (click)="enviarProfesor(profesor)"
      [attr.id]="profesor.idProfesor"
    >
      <td class="text-center non-selectable">{{ profesor.nombreProfesor }}</td>
      <td
        *ngIf="profesor.moduloActivo; else agregarModulo"
        class="text-center non-selectable"
      >
        {{ profesor.moduloActivo.codigoModulo }}
      </td>
      <ng-template #agregarModulo>
        <td class="text-center non-selectable">
          <button type="button" class="btn btn-outline-warning">
            Asignar módulo
          </button>
        </td>
      </ng-template>
    </tr>
  </tbody>
</table>

<button
  type="button"
  class="btn btn-outline-success btn-block"
  (click)="agregarProfesor()"
>
  <i class="fas fa-user-plus"></i> Agregar docente
</button>

<button
  type="button"
  class="btn btn-outline-success btn-block mb-3"
  (click)="cambiarProfesor()"
>
  <i class="fas fa-exchange-alt"></i> Cambiar docente
</button>

<!-- Tabla para mostrar cuando se selecciona "Cambiar docente" -->
<table
  *ngIf="
    seccionActual === 'cambiarProfesor' && profesoresParaCambiar.length > 0
  "
  class="table table-dark"
>
  <thead>
    <tr>
      <th class="text-center">ID docente</th>
      <th class="text-center">Nombre docente</th>
      <th class="text-center"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let profesor of profesoresParaCambiar">
      <td class="text-center non-selectable">{{ profesor.idProfesor }}</td>
      <td class="text-center non-selectable">{{ profesor.nombreProfesor }}</td>
      <td class="text-center">
        <button
          class="btn btn-primary"
          (click)="loginById(profesor.idProfesor, profesor.nombreProfesor)"
        >
          <i class="fas fa-exchange-alt"></i> Cambiar
        </button>
      </td>
    </tr>
  </tbody>
</table>
