<app-menu> </app-menu>

<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-4 ml-5 mr-5 mb-3">
      <h4 class="text-center mb-3" *ngIf="semestre">
        Año {{ semestre.anioSemestre }}
        <small class="text-muted">Semestre {{ semestre.numeroSemestre }}</small>
      </h4>
      <app-listar-profesor
        [profesores]="profesores"
        (profesorSeleccionado)="seleccionarProfesor($event)"
        (agregandoDocente)="agregarDocente()"
      >
      </app-listar-profesor>
    </div>

    <div
      class="col-xl-6 ml-5"
      *ngIf="agregandoDocente && !profesorSeleccionado"
    >
      <app-nuevo-profesor
        (profesorCreado)="cargarProfesores()"
      ></app-nuevo-profesor>
    </div>
    <div class="col-xl-6 ml-5" *ngIf="profesorSeleccionado">
      <app-lista-alumno
        [modulo]="modulo"
        [profesor]="profesorSeleccionado"
        (actualizarAlumnos)="actualizarListaAlumnos()"
        [mostrarBotonEliminar]="true"
        *ngIf="profesorSeleccionado.moduloActivo; else noTieneModulo"
      >
      </app-lista-alumno>
      <ng-template #noTieneModulo>
        <app-nuevo-modulo
          [profesor]="profesorSeleccionado"
          (moduloCreado)="cargarProfesores()"
        >
        </app-nuevo-modulo>
      </ng-template>
    </div>
  </div>
</div>
