<app-menu> </app-menu>
<body>
  <div style="height: 20px; background-color: rgb(168, 166, 166)"></div>

  <div class="content" style="margin: 0 12px; border-radius: 10px">
    <div>
      <h4
        style="
          font-size: 2rem;
          font-weight: 700;
          line-height: 2.25rem;
          color: #1f2937;
        "
      >
        Resultados de Aprendizaje
      </h4>
      <h5>{{ nombre }}</h5>
    </div>
    <div
      style="
        display: flex;
        justify-content: space-between;
        border: 1px solid black;
        padding: 10px;
        border-radius: 10px;
      "
    >
      <div class="left-content">
        <ul style="list-style-type: none">
          <li
            *ngFor="let item of bloomStatusRA; let i = index"
            [ngClass]="{ 'green-text': item.value, 'red-text': !item.value }"
          >
            <span *ngIf="item.value" class="fas fa-check"></span>
            <span *ngIf="!item.value" class="fas fa-times"></span>
            {{ "RA " + (i + 1) + ": " + capitalizeFirstLetter(item.text) }}
          </li>
        </ul>

        <div>
          Simbología: <br />
          <span class="fas fa-check" ngClass="green-text"></span>
          Verbos bien especificados
          <br />
          <span class="fas fa-times" ngClass="red-text"></span>
          Verbos mal especificados
        </div>
      </div>
      <div class="right-content">
        <div
          style="border: 1px solid black; padding: 10px; border-radius: 10px"
        >
          <h5>Resumen asignatura</h5>
          La asignatura pertenece al nivel {{ nivel_asignatura }} y al ciclo
          {{ ciclo }}.
          <br />
          Esta asignatura cumple con un
          {{ getTruePercentage() | number : "1.1-1" }}% de verbos bien
          Especificados.
          <br />
          Se recomiendan utilizar verbos de los niveles
          {{ calculateCicloString() }} de la
          <a
            href="https://es.wikipedia.org/wiki/Taxonom%C3%ADa_de_objetivos_de_la_educaci%C3%B3n"
            target="_blank"
            >Taxonomía de Bloom</a
          >
        </div>
        <br />
        <div
          style="border: 1px solid black; padding: 10px; border-radius: 10px"
        >
          <h5>Análisis de Coherencia</h5>
          <h6>Recomendación:</h6>
          {{ recomendacionBloomRA }}
          <br />
          <br />

          <h6>Niveles de Bloom:</h6>
          <ul>
            <li *ngFor="let level of bloomLevelsRA">
              Nivel {{ level.level }} - {{ level.levelName }}:
              {{ level.verbs.join(", ") }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div style="height: 20px; background-color: rgb(168, 166, 166)"></div>

  <footer class="mt-auto text-center mt-2">
    <navegacion-inferior></navegacion-inferior>
  </footer>
</body>
