.green-text {
  color: green;
}

.red-text {
  color: red;
}
body {
  min-height: 94vh;
  background-color: rgb(168, 166, 166);
}
.content {
  background-color: white;
  padding: 20px;
  padding-top: 20px; // Agrega un padding en la parte superior del contenido
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  color: white;
  text-align: center;
}
