<table class="table table-bordered table-dark">
    <thead>
        <tr>
            <th rowspan="2" class="text-center">Aprendizaje esperado</th>
            <th rowspan="3" class="text-center">Indicadores</th>
            <th colspan="5" class="text-center">Nivel</th>
        </tr>
        <tr>
            <th class="text-center">0 Nulo</th>
            <th class="text-center">1 Emergente</th>
            <th class="text-center">2 Desarollo</th>
            <th class="text-center">3 Aplicacion</th>
            <th class="text-center">4 Maduro</th>
        </tr>
    </thead>
    <tbody *ngFor="let categoria of categorias" [attr.id]='"categoria "+categoria.idCategoria'>
        <tr>
            <td class="text" [attr.rowspan]="90">
                {{categoria.nombreCategoria}}</td>
        </tr>

        <tr *ngFor="let indicador of indicadores" [attr.class]='"indicador "+indicador.idTipoIndicador'>

            <td class="text" *ngIf="indicador.categoria.idCategoria == categoria.idCategoria">
                {{indicador.nombreIndicador}}</td>
            <td *ngIf="indicador.categoria.idCategoria == categoria.idCategoria" class="0"
                style="background-color:darkslategray;">
                {{indicador.criterio0}}
            </td>
            <td *ngIf="indicador.categoria.idCategoria == categoria.idCategoria" class="1"
                style="background-color:darkslategray;">
                {{indicador.criterio1}}

            </td>
            <td *ngIf="indicador.categoria.idCategoria == categoria.idCategoria" class="2"
                style="background-color:darkslategray;">
                {{indicador.criterio2}}

            </td>
            <td *ngIf="indicador.categoria.idCategoria == categoria.idCategoria" class="3"
                style="background-color:darkslategray;">
                {{indicador.criterio3}}

            </td>
            <td *ngIf="indicador.categoria.idCategoria == categoria.idCategoria" class="4"
                style="background-color:darkslategray;">
                {{indicador.criterio4}}

            </td>
        </tr>
    </tbody>
</table>

