<app-menu> </app-menu>

<div ng-controller="PrincipalAlumnoComponent as principal" class="container-fluid mt-4">
    <div class="row">
        <div class="col-3 ml-5">
            <app-lista-alumno [modulo] ="modulo" (alumnoSeleccionado)="seleccionarAlumno($event)"></app-lista-alumno>

        </div>
        <div class="col-xl-8 ">
            <div class="row d-flex justify-content-center">
                <div class="dropdown">
                    <div class="btn-group dropright">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Seleccionar evaluación
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" (click)="cambiarEvaluacion(0,0)">Resumen de evaluaciones</a>
                            <div class="dropdown-divider"></div>
                            <div *ngFor="let evaluacion of evaluaciones">
                                <a class="dropdown-item"
                                    (click)="cambiarEvaluacion(evaluacion.numeroEvaluacion, evaluacion)">
                                    {{evaluacion.descripcion}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mx-auto mt-4" *ngIf="tipoEvaluacion == 0">

                <app-grafico-radar [alumno]="alumnoSeleccionado" [modulo]="modulo"></app-grafico-radar>

                <div class="mt-4 d-flex justify-content-center" *ngIf="alumnoSeleccionado">
                    <app-detalle-alumno [alumno]="alumnoSeleccionado" [evaluaciones] = "evaluaciones"></app-detalle-alumno>
                </div>

                <div *ngIf = "modulo && !alumnoSeleccionado" class="mt-4 d-flex justify-content-center" >
                    <app-detalle-modulo [modulo]="modulo"></app-detalle-modulo>
                </div>

            </div>

            <div class="mx-auto mt-4" *ngIf="!(tipoEvaluacion == 0 || !alumnoSeleccionado)">
                <app-editar-rubrica [alumno]="alumnoSeleccionado" [evaluacion]="evaluacionSeleccionada"
                    (propagar)=actualizarLista()>
                </app-editar-rubrica>
            </div>

        </div>
    </div>