<div>
  <app-grafico-indicadores
    [(alumno)]="alumno"
    [(modulo)]="modulo"
    (regresar)="cambiarGrafico()"
  >
  </app-grafico-indicadores>
</div>

<div [hidden]="hidden">
  <canvas
    id="radarChart"
    baseChart
    [(datasets)]="radarChartData"
    [(labels)]="radarChartLabels"
    [chartType]="radarChartType"
    [options]="radarChartOptions"
  ></canvas>
</div>
