<app-menu> </app-menu>

<div class="container mt-4">
  <div class="row">
    <div class="col-12 mx-auto">
      <table class="table table-dark">
        <thead>
          <tr>
            <th class="text-center">Descripción</th>
            <th class="text-center">Fecha evaluación</th>
            <th class="text-center">Editar evaluación</th>
            <th class="text-center">Eliminar evaluación</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let evaluacion of evaluaciones">
            <td class="text-center">{{ evaluacion.descripcion }}</td>
            <td class="text-center">{{ evaluacion.fechaEvaluacion }}</td>
            <td class="text-center">
              <button
                class="btn btn-outline-warning mx-auto"
                routerLink="/evaluaciones/editar/{{ evaluacion.idEvaluacion }}"
              >
                <i class="fas fa-edit"></i>
              </button>
            </td>
            <td class="text-center">
              <button
                class="btn btn-outline-danger mx-auto"
                (click)="eliminarEvaluacion(evaluacion.idEvaluacion)"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <button
        class="btn btn-warning mx-auto text-center"
        routerLink="/evaluaciones/nuevo"
      >
        <i class="fas fa-edit"></i> Nueva evaluación
      </button>
    </div>
  </div>
  <br />
</div>
