<app-menu></app-menu>
<body>
  <div style="height: 20px; background-color: rgb(168, 166, 166)"></div>

  <div class="content" style="margin: 0 12px; border-radius: 10px">
    <br />
    <h4
      style="
        font-size: 2rem;
        font-weight: 700;
        line-height: 2.25rem;
        color: #1f2937;
      "
    >
      Resumen General EMRA
    </h4>
    <h5>{{ nombre }}</h5>
    <br />
    <h5>Niveles promedio</h5>
    El nivel promedio de los RAs es:
    {{ calculateAverageNivelRAs() | number : "1.1-1" }}
    <br />
    El nivel promedio de los Indicadores es:
    {{ calculateAverageNivelIndicadores() | number : "1.1-1" }}
    <br />
    <br />
    <h5>Revisión RA y sus Indicadores con nivel</h5>

    <div class="dropdown">
      <div class="btn-group dropright">
        <button
          type="button"
          class="btn btn-secondary dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Seleccionar RA
        </button>
        <div class="dropdown-menu">
          <div *ngFor="let raandIndicador of raandIndicadores; let i = index">
            <a
              class="dropdown-item"
              (click)="cambiarIndicador(raandIndicador.ra, i)"
            >
              {{ "RA " + (i + 1) + ": " + raandIndicador.ra }}
            </a>

            <h6
              class="dropdown-header"
              *ngFor="let indicador of raandIndicador.indicadores"
              style="margin-left: 20px"
            >
              {{ indicador }}
            </h6>

            <div class="dropdown-divider"></div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div *ngFor="let ra of raandIndicadoresConNivel">
      <div
        *ngIf="capitalizeFirstLetter(ra.ra.name) == RASeleccionado"
        style="border: 1px solid black; padding: 10px; border-radius: 10px"
      >
        <a>
          <strong>Resultado de Aprendizaje Seleccionado:</strong>
          {{ "RA " + (indexSelecccionado + 1) + ": " + RASeleccionado }} -
          Nivel: {{ ra.ra.level }}
        </a>
        <ul>
          <li *ngFor="let indicador of ra.indicadores">
            <p>
              Indicador: {{ getNombreCompleto(indicador.name) }} - Nivel:
              {{ indicador.level }}
            </p>
          </li>
        </ul>
        <p>Distancia con el Indicador de mayor nivel: {{ ra.maxResta }}</p>
        <p>Distancia con el Indicador de menor nivel: {{ ra.minResta }}</p>
        <p>
          Distancia con el promedio de los niveles de los Indicadores:
          {{ ra.restaPromedioIndicadores | number : "1.1-1" }}
        </p>
        <p>
          Cantidad de Indicadores:
          <span
            [ngClass]="{
              'text-success':
                ra.cantidadIndicadores === 'Cantidad de indicadores correcta',
              'text-danger':
                ra.cantidadIndicadores !== 'Cantidad de indicadores correcta'
            }"
          >
            {{ ra.cantidadIndicadores }}
          </span>
        </p>
      </div>
    </div>
  </div>
  <div style="height: 700px; background-color: rgb(168, 166, 166)"></div>

  <footer class="mt-auto text-center mt-2">
    <navegacion-inferior></navegacion-inferior>
  </footer>
</body>
