<div class="container" *ngIf = "profesor">
    <div class="row">
        <div class="col-5 mt-4 mb-4">
            <h5>Cargar estudiantes</h5>

            <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)"
                (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                    Arrastra el archivo aquí &nbsp;
                    <button type="button" (click)="openFileSelector()">Buscar archivo</button>
                </ng-template>
            </ngx-file-drop>
        </div>
    </div>
</div>