<div [hidden]="hidden">
  <p *ngIf="categoriaSeleccionada">
    {{ categoriaSeleccionada.nombreCategoria }}
  </p>
  <canvas
    id="radarChart"
    baseChart
    [(datasets)]="radarChartData"
    [(labels)]="radarChartLabels"
    [chartType]="radarChartType"
    [options]="radarChartOptions"
  ></canvas>

  <div class="col-sm-13 mt-4 mx-auto">
    <button
      class="btn md-4 btn-outline-info btn-block mx-auto"
      (click)="regresar.emit()"
    >
      <i class="fas fa-chevron-circle-left"></i> Regresar
    </button>
  </div>
</div>
