<form autocomplete="off" id="formularioNuevoSemestre" novalidate [formGroup]="formularioNuevoSemestre"
    (ngSubmit)="submit()">
    <div class="form-group">
        <label>Año</label>
        <input type="number" class="form-control" id="anioSemestre" formControlName="anioSemestre" min="2020" max="3000"
            name="anioSemestre" placeholder="2020 - 3000" autocomplete="off">
        <span class="badge badge-warning"
            *ngIf="formularioNuevoSemestre.get('anioSemestre').hasError('required') && formularioNuevoSemestre.get('anioSemestre').touched">
            Año requerido
        </span>
    </div>
    <div class="form-group">
        <label>Número de semestre</label>
        <input type="number" class="form-control" id="numeroSemestre" formControlName="numeroSemestre" min="1" max="2"
            name="numeroSemestre" placeholder="1 - 2" autocomplete="off">
        <span class="badge badge-warning"
            *ngIf="formularioNuevoSemestre.get('numeroSemestre').hasError('required') && formularioNuevoSemestre.get('numeroSemestre').touched">
            Número de semestre requerido
        </span>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="formularioNuevoSemestre.invalid"><i
            class="far fa-calendar-plus"></i> Crear semestre</button>
</form>