<form
  autocomplete="off"
  id="formularioNuevoProfesor"
  novalidate
  [formGroup]="formularioNuevoProfesor"
  (ngSubmit)="submit()"
>
  <div class="form-group">
    <label>Nombre docente</label>
    <input
      type="text"
      class="form-control"
      id="nombreProfesor"
      formControlName="nombreProfesor"
      name="nombreProfesor"
      placeholder="Nombre docente"
      autocomplete="off"
    />
    <span
      class="badge badge-warning"
      *ngIf="
        formularioNuevoProfesor.get('nombreProfesor').hasError('required') &&
        formularioNuevoProfesor.get('nombreProfesor').touched
      "
    >
      Nombre requerido
    </span>
  </div>
  <div class="form-group">
    <label>Email docente</label>
    <input
      type="email"
      class="form-control"
      id="correoProfesor"
      formControlName="correoProfesor"
      name="correoProfesor"
      placeholder="...@...cl"
      autocomplete="new-text"
    />
    <span
      class="badge badge-warning"
      *ngIf="
        formularioNuevoProfesor.get('correoProfesor').hasError('required') &&
          formularioNuevoProfesor.get('correoProfesor').touched;
        else correoMalo
      "
    >
      Email requerido
    </span>
    <ng-template #correoMalo>
      <span
        class="badge badge-warning"
        *ngIf="
          formularioNuevoProfesor.get('correoProfesor').hasError('pattern') &&
          formularioNuevoProfesor.get('correoProfesor').touched
        "
      >
        El email ingresado no es valido
      </span>
    </ng-template>
  </div>
  <div class="form-group" formGroupName="contrasenias">
    <div class="form-group">
      <label>Password</label>
      <input
        type="password"
        class="form-control"
        id="contraseniaProfesor"
        formControlName="contraseniaProfesor"
        name="contraseniaProfesor"
        placeholder="******"
        autocomplete="new-password"
      />
      <span
        class="badge badge-warning"
        *ngIf="
          formularioNuevoProfesor
            .get('contrasenias')
            .get('contraseniaProfesor')
            .hasError('required') &&
          formularioNuevoProfesor.get('contrasenias').get('contraseniaProfesor')
            .touched
        "
      >
        Contraseña requerida
      </span>
    </div>
    <div class="form-group">
      <label>Password </label>
      <input
        type="password"
        class="form-control"
        id="contraseniaConfirm"
        formControlName="contraseniaConfirm"
        name="contraseniaConfirm"
        placeholder="******"
        autocomplete="off"
      />
      <span
        class="badge badge-warning"
        *ngIf="
          formularioNuevoProfesor.get('contrasenias').hasError('missMatch') &&
          formularioNuevoProfesor.get('contrasenias').get('contraseniaConfirm')
            .touched
        "
      >
        Las contraseñas no coinciden
      </span>
    </div>
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="formularioNuevoProfesor.invalid"
  >
    <i class="fas fa-user-plus"></i> Agregar docente
  </button>
</form>
