<div class="container-fluid">
    <div class="row">
        <h2>Asignar módulo</h2>
    </div>

    <div class="row">
        <form novalidate #f="ngForm" (ngSubmit)="crearModulo()">
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Código módulo</label>
                <div class="col-sm-10">
                    <input required type="text" class="form-control" id="codigoModulo" name="codigoModulo" [(ngModel)]="codigoModulo" placeholder="ICC202-?">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-13 mt-4 mx-auto">
                    <button type="submit" class="btn btn-outline-success btn-block" [disabled]="!f.valid"><i
                            class="fas fa-edit"></i> Asignar módulo</button>
                </div>
            </div>
        </form>
    </div>

</div>