<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <ul class="navbar-nav">
    <li class="nav-item" *ngIf="isLogged">
      <a class="nav-link non-selectable" routerLink="/emra2"
        ><i class="fas fa-clipboard-list"></i> General</a
      >
    </li>
    <li class="nav-item" *ngIf="isLogged">
      <a class="nav-link non-selectable" routerLink="/resumenras"
        ><i class="fas fa-clipboard-list"></i> Resumen RA</a
      >
    </li>
    <li class="nav-item" *ngIf="isLogged">
      <a class="nav-link non-selectable" routerLink="/resumenindicadores"
        ><i class="fas fa-clipboard-list"></i> Resumen Indicadores</a
      >
    </li>
    <li class="nav-item" *ngIf="isLogged">
      <a class="nav-link non-selectable" routerLink="/graficoindicador"
        ><i class="fas fa-clipboard-list"></i> Gráfico</a
      >
    </li>
  </ul>
</nav>
