<app-menu> </app-menu>

<div class="container mt-5 " *ngIf="evaluacion">
  <div class="row">
    <div class="col-5 mx-auto">
      <form (ngSubmit)="submit()" id="formularioEditarEvaluacion" novalidate [formGroup]="formularioEditarEvaluacion">
        <div class="form-group">
          <label>Descripción</label>
          <input type="text" class="form-control" id="descripcion" formControlName="descripcion" name="descripcion"
            value="{{evaluacion.descripcion}}">
          <span class="badge badge-warning"
            *ngIf="formularioEditarEvaluacion.get('descripcion').hasError('required') && formularioEditarEvaluacion.get('descripcion').touched">
            Debes ingresar una breve descripción
          </span>
        </div>
        <div class="form-group">
          <label>Fecha de evaluación</label>
          <input type="date" class="form-control" id="fecha" formControlName="fecha" name="fecha"
          value="{{evaluacion.fecha}}" max="3000-12-31" min="2021-01-01">
          <span class="badge badge-warning"
            *ngIf="formularioEditarEvaluacion.get('fecha').hasError('required') && formularioEditarEvaluacion.get('fecha').touched">
            La fecha es obligatoria
          </span>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="formularioEditarEvaluacion.invalid"><i
          class="fas fa-edit"></i> Editar</button>
      </form>
      <div class="col-sm-13 mt-4 mx-auto">
        <button class="btn md-4 btn-outline-info btn-block mx-auto" routerLink="/evaluaciones"><i
            class="fas fa-chevron-circle-left"></i> Regresar</button>
      </div>
    </div>
  </div>
</div>
<div class="container">

</div>