<app-menu></app-menu>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" routerLink="/ingresar">Ingresa tu matricula</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <form #f="ngForm" (ngSubmit)="buscamatricula()" novalidate>
                        <div class="form-group">
                            <label for="matricula">Mail</label>
                            <input required type="text" name="matricula" class=" form-control" id="matricula"
                                placeholder="Ingresa tu matricula" [(ngModel)]="matricula">
                        </div>
                       

                        </div>
                        
                        <button type="submit" class="btn btn-primary btn-block" [disabled]="!f.valid" [class.spinner]="loading" [disabled]="loading"><i
                                class="fas fa-sign-in-alt"></i> Aceptar</button>
                    </form>
                    <div *ngIf="f.submitted && isLoginFail" class=" text-justify alert alert-danger mt-3">Matricula no existe</div>
                </div>
            </div>
        </div>
    </div>

</div>
