.fixed {
  position: fixed;
  width: 60%;
}
.chartjs-container {
  width: 1000px;
  height: 1500py;
}
.chartjs2-container {
  width: 1000px;
  height: 1500py;
}

body {
  min-height: 94vh;
  background-color: rgb(168, 166, 166);
}
.content {
  background-color: white;
  padding: 20px;
  padding-top: 20px; // Agrega un padding en la parte superior del contenido
}
footer {
  margin-top: auto;
}

.cargando {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white; /* Fondo más oscuro */
  color: rgb(80, 80, 80);
  border-radius: 10px;
  font-size: 1.5em;
}