<app-menu> </app-menu>
<body>
  <div style="height: 20px; background-color: rgb(168, 166, 166)"></div>
  <div class="content" style="margin: 0 12px; border-radius: 10px">
    <div class="container-fluid mt-4">
      <div class="row">
        <div class="col-3 ml-5">
          <app-lista-alumno
            [modulo]="modulo"
            (alumnoSeleccionado)="seleccionarAlumno($event)"
          ></app-lista-alumno>
        </div>
        <div class="col-xl-8">
          <h4
            style="
              font-size: 2rem;
              font-weight: 700;
              line-height: 2.25rem;
              color: #1f2937;
            "
          >
            Gráfico Desempeño
          </h4>
          <br />
          <div class="chartjs-container">
            <div class="dropdown">
              <div class="btn-group dropright">
                <button
                  type="button"
                  class="btn btn-secondary dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Seleccionar indicador
                </button>
                <div class="dropdown-menu">
                  <div
                    *ngFor="
                      let raandIndicador of raandIndicadores;
                      let i = index
                    "
                  >
                    <h6 class="dropdown-header">
                      {{ "RA " + (i + 1) + ": " + raandIndicador.ra }}
                    </h6>
                    <a
                      class="dropdown-item"
                      *ngFor="let indicador of raandIndicador.indicadores"
                      style="margin-left: 20px"
                      (click)="
                        cambiarIndicador(indicador, raandIndicador.ra, i)
                      "
                    >
                      {{ indicador }}
                    </a>
                    <div class="dropdown-divider"></div>
                  </div>
                </div>
              </div>
            </div>

            <br />
            <a>
              <strong>Resultado de Aprendizaje Seleccionado:</strong>
              {{ "RA " + (indexSelecccionado + 1) + ": " + RASeleccionado }}
            </a>
            <br />
            <a>
              <strong>Indicador Seleccionado:</strong>
              {{ indicadorSeleccionado }}
            </a>
            <br />

            <br />

            <div
              *ngIf="mostrarGrafico"
              style="
                border: 1px solid black;
                padding: 10px;
                border-radius: 10px;
                position: relative; /* Añade esta línea */
              "
            >
              <div *ngIf="mensaje && !cargando" class="alert alert-warning">
                {{ mensaje }}
              </div>
              <canvas
                baseChart
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
              >
              </canvas>

              <!-- Añade este div para el mensaje de carga -->
              <div *ngIf="cargando" class="cargando">
                <i
                  class="fas fa-spinner fa-spin"
                  style="margin-right: 10px"
                ></i>
                Cargando...
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="height: 700px; background-color: rgb(168, 166, 166)"></div>

  <footer class="mt-auto text-center mt-2">
    <navegacion-inferior></navegacion-inferior>
  </footer>
</body>
